* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: url("https://www.gooogle.com");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: teal;
  background: radial-gradient(blue, fuchsia);
  background: linear-gradient(to right, red, green);
}

.container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 200px);
  display: grid;
  justify-content: space-between;
  align-items: center;
}
